$material-distance: layout-value(forms, material-distance);
$helper-font-size: layout-value(forms, helper, font-size);
$helper-line-height: layout-value(forms, helper, line-height);
$bootstrap-padding: $grid-gutter-width / 2;

%label-helper {
	@include text-truncate;
	color: layout-value(forms, helper, color);
	font-family: layout-value(forms, font-family);
	font-size: $helper-font-size;
	left: 0;
	line-height: $helper-line-height;
	margin-bottom: 0;
	padding: 0;
	position: absolute;
	right: 0;

	&.no-truncate {
		overflow: visible;
		text-overflow: unset;
	}
}
%label-helper-top {
	bottom: 100%;
	color: layout-value(forms, helper, small, color);
	top: auto;
}
%label-helper-bottom {
	bottom: auto;
	color: layout-value(forms, helper, small, color);
	top: 100%;
}


.checkboxes[class] {
	clear: both;
	display: block;
	margin: 0;

	.checkbox {
		display: inline-block;
		margin: 0 0 $margin--default;
		width: 49%;
	}

	@include breakpoint(tablet) {
		display: flex;
		flex-flow: row wrap;

		.checkbox {
			width: 25%;
		}
	}
	@include breakpoint(desktop) {
		flex-wrap: nowrap;
		justify-content: space-between;

		.checkbox {
			width: auto;
		}
	}
}
.error {
	//color: color(red);
	display: block;
}
.form-field {
	@include clearfix;
	margin: $material-distance * 2 + $helper-font-size * $helper-line-height 0 $material-distance * 2;
	position: relative;
	transition: margin .3s, border .3s;

	&.field-error {
		margin-bottom: $material-distance * 3 + $helper-font-size * $helper-line-height;

		input,
		select,
		textarea {
			border-color: #bd10e0;
		}
	}
	/*
	&.field-success {
		input,
		select,
		textarea {
			border-color: color(christi);
		}
	}
	*/
	&.filled {
		input,
		select,
		textarea {
			& + label {
				@extend %label-helper, %label-helper-top;
			}
		}
	}
	&.mbn {
		margin-bottom: 0;
	}
	// if there is bootstrap col applied, we need to adjust paddings & margins, because margins behaves differently with floating divs and padding is added by default
	&[class*=col-] {
		margin: 0 0 $material-distance + $helper-font-size * $helper-line-height;

		&.field-error {
			margin-bottom: $material-distance * 3 + $helper-font-size * $helper-line-height;
		}
	}

	.helper {
		@extend %label-helper, %label-helper-bottom;

		&.error {
			color: color(white);
		}
	}
	.label {
		@extend %label-helper, %label-helper-top;
	}

	input,
	select,
	textarea {
		border-bottom: 1px solid rgba(color(white), .5);
		width: 100%;

		& + label {
			@include graphic-acceleration;
			@include text-truncate;
			bottom: 0;
			color: layout-value(forms, helper, color);
			font-family: layout-value(forms, font-family);
			font-size: layout-value(forms, font-size);
			left: 0;
			line-height: $material-distance * 2;
			margin-bottom: 0;
			padding: $material-distance 0;
			pointer-events: none;
			position: absolute;
			right: 0;
			top: 0;
			transition: all .3s;

			sup {
				position: absolute;
			}
		}
		&:focus {
			& + label {
				@extend %label-helper, %label-helper-top;
			}
		}
	}

	&--inline {
		margin: 0 0 $helper-font-size * $helper-line-height + $material-distance;

		& > div {
			display: inline-block;
			margin-right: $margin--small;
		}
	}


	@include breakpoint(phablet) {
		// if there is bootstrap col applied, we need to adjust paddings & margins, because margins behaves differently with floating divs and padding is added by default
		&[class*=col-] {
			&.filled {
				input,
				select,
				textarea {
					& + label {
						padding-left: $bootstrap-padding;
						padding-right: $bootstrap-padding;
					}
				}
			}

			.label,
			.helper {
				padding-left: $bootstrap-padding;
				padding-right: $bootstrap-padding;
			}

			input,
			select,
			textarea {
				& + label {
					padding-left: $bootstrap-padding + $material-distance;
					padding-right: $bootstrap-padding + $material-distance;
				}
				&:focus + label {
					padding-left: $bootstrap-padding;
					padding-right: $bootstrap-padding;
				}
			}
		}
	}
}
.submit {
	text-align: center;

	.button {
		transition: background-color .5s;

		&:hover {
			background-color: #7d7773;
		}
	}

	hr {
		margin: 0;
		position: relative;
		top: layout-value(buttons, height) / 2;
	}
}

button,
input,
select,
textarea {
	background: layout-value(forms, background);
	border: none;
	border-radius: layout-value(forms, border-radius);
	color: layout-value(forms, color);
	font-family: layout-value(forms, font-family);
	font-size: layout-value(forms, font-size);
	font-weight: layout-value(forms, font-weight);
	height: layout-value(forms, height);
	line-height: 1;
	outline: none;
	padding: $material-distance 0;
	transition: border-color .3s, box-shadow .3s;
}

button {
	cursor: pointer;
}
form {

	&.dark {
		.form-field.filled {
			input,
			select,
			textarea {
				& + label {
					color: color(white);
				}
			}
		}
		input,
		select,
		textarea {
			&:focus + label {
				color: color(white);
			}
		}
	}

}
input {
	&[disabled] {
		color: #d0d0d0;
		cursor: default;
	}
}
label {
	small {
		color: color(dusty-gray);
		display: block;
		font-size: 15px;
	}
}