.select {
	cursor: pointer;
	position: relative;

	&:after {
		@include font-icon(arrow-down-thin);
		@include absolute-middle;
		pointer-events: none;
		right: layout-value(forms, material-distance);
	}

	select {
		appearance: none;
		cursor: pointer;
		line-height: 1.4;
		padding-bottom: 0;
		padding-right: 30px;
		padding-top: 0;

		&::-ms-expand {
			display: none;
		}
	}
}