html,
body {
	//height: 100%;
	min-height: 100%;
}

body {
	background-color: $bg-color;
	font-family: $font-family, Arial, sans-serif;
	color: $base-color;
	font-size: layout-value(font-size);
	font-variant-ligatures: none;
	line-height: 1.7;
	margin: 0;

	@include breakpoint(phablet) {
		padding-top: 50px;
	}
	@include breakpoint(tablet) {
		padding-top: 90px;
	}
	@include breakpoint(desktop-lg) {
		font-size: layout-value(font-size);
	}
}

* {
	box-sizing: border-box;
}