$margin--small: 			.5em;
$margin--default: 			1em;
$margin--big: 				2em;
$margin--great:				4em;

$padding--small: 			.5em;
$padding--default: 			1em;
$padding--big: 				2em;
$padding--great: 			4em;
