// set breakpoints for layout-value() function
$breakpoints: (
		mobile: (
				media-query: "only screen and (min-width: 240px)",
				layout: $mobile-layout
		),
		phablet: (
				media-query: "only screen and (min-width: 560px)",
				layout: $phablet-layout
		),
		tablet: (
				media-query: "only screen and (min-width: 768px)",
				layout: $tablet-layout
		),
		desktop: (
				media-query: "only screen and (min-width: 1024px)",
				layout: $desktop-layout
		),
		desktop-hd: (
				media-query: "only screen and (min-width: 1200px)",
				layout: $desktop-hd-layout
		),
		desktop-lg: (
				media-query: "only screen and (min-width: 1500px)",
				layout: $desktop-lg-layout
		)
);