/* colors from: http://chir.ag/projects/name-that-color/ */
$alto: #d8d8d8;
$gallery: #eee;
$gray-chateau: #a9aeb4;
$iron: #c9ced3;
$limed-spruce: #323c46;
$wild-strawberry: #ff4081;
$mischka: #d9dce1;
$mountain-meadow: #22d486;
$regent-gray: #949ea8;
$white: #fff;

/* fonts */
$font-size: 14px;
$font-size-sm: 12px;
$font-size-lg: 18px;
$font-family-hind: 'Hind', sans-serif;