:global(.rbc-month-header) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
}
:global(.rbc-header) {
    flex-grow: 1;
}
:global(.rbc-row) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: right;
}
:global(.rbc-date-cell) {
    flex-grow: 1;
    min-height: 100px;
}
:global(.rbc-now) {
    background-color: gray;
}