.mfp-bg {
	background: color(white);
	opacity: 1;
}
.mfp-counter {
	color: #39393a;
	font-size: layout-value(font-size);
	position: static;
	text-align: center;

	@include breakpoint(desktop-hd) {
		font-size: layout-value(font-size);
	}
}
.mfp-figure:after {
	display: none;
}
.mfp-gallery {
	text-align: center;

	.mfp-bottom-bar {
		margin-top: 10px;
	}
	.mfp-container {

		.arrow {
			@include absolute-middle;
			@include square(30px);
			background-color: color(tawny-port);
			display: block;
			padding: 5px;
			position: absolute;
			z-index: 1100;

			&:before {
				@include dim(6px, 15px);
				@include background('svg/logo-arrow.svg', 50% 50% / cover no-repeat);
				content: '';
				display: block;
				margin: auto;
			}
		}
		.arrow-left {
			left: 0;
			&:before {
				transform: rotate(180deg);
			}
		}
		.arrow-right {
			right: 0;
		}
		.mfp-content {
			padding: 30px;
			position: static;

			.mfp-close {
				color: $base-color;
				font-size: 2em;
				padding-right: 20px;
			}
		}
	}

	@include breakpoint(desktop) {
		.mfp-container {
			.arrow {
				@include square(50px);

				&:before {
					@include dim(10px, 25px);
				}
			}
		}
	}
}
.mfp-preloader {
	transition: opacity .5s;

	.mfp-ready & {
		opacity: 0;
	}
}