.section {
	padding: 0 0 $padding--great;
	position: relative;

	@include breakpoint(phablet) {
		padding-bottom: $padding--big * 4;

		&.footer {
			padding-bottom: 0;
		}
	}
	@include breakpoint(tablet) {
		padding-bottom: $padding--big;
	}
}