.visual {
	padding: $padding--big 0;
	position: relative;
	z-index: 1;

	&.-footer {
		padding: 0;
	}
	&.-intro {
		padding: 0;

		.image,
		image {
			clip-path: url(#path-visual-main);
		}
	}
	&.dark {
		margin: -2px auto; //white link fix
	}
	&.right {
		.image,
		image {
			clip-path: url(#path-visual-right);
		}
	}

	.bg {
		@include square(100%);
		fill: color(armadillo);
		left: 0;
		position: absolute;
		top: 0;
		z-index: -1;
	}
	.image {
		clip-path: url(#path-visual-left);
		display: block;
		font-size: 0;
		position: relative;

		img,
		image {
			width: 100%;
		}
	}
	.wrapper {
		z-index: 1;
	}

	image {
		clip-path: url(#path-visual-left);
	}

	@include breakpoint(phablet) {
		&.-intro {
			.image,
			image {
				clip-path: url(#path-visual-main-phablet);
			}
		}
		&.right {
			.image,
			image {
				clip-path: url(#path-visual-right-phablet);
			}
			.aside {
				left: auto;
				right: 0;
			}
		}

		.aside {
			left: 0;
			position: absolute;
			transform: translateY(-50%);
		}
		.image,
		image {
			clip-path: url(#path-visual-left-phablet);
		}
	}
	@include breakpoint(tablet) {
		&.-footer[class] {
			.bg {
				pointer-events: none;
				top: -1px !important;
				z-index: 1;
			}
			.google-map {
				z-index: -1;
			}
		}
		&.-intro {
			margin-bottom: -$margin--great;
			padding-bottom: 0;
		}
		&.right {
			.image,
			image {
				clip-path: url(#path-visual-right-tablet);
			}

			p {
				left: 1.5em;
				position: relative;
			}
		}

		.aside {
			transform: translateY(-20%);
		}
		.image,
		image {
			clip-path: url(#path-visual-left-tablet);
		}
		.picture {
			display: block;
			position: relative;
			height: 100%;
		}
	}
	@include breakpoint(desktop) {
		&.-footer[class] {
			.aside {
				transform: translateY(10%);
			}
		}
		&.-intro {
			margin-bottom: -$margin--big * 5;
		}

		.aside {
			transform: translateY(-5%);
		}
	}
	@include breakpoint(desktop-hd) {
		.aside {
			transform: translateY(7%);
		}
	}
	@include breakpoint(desktop-lg) {
		.aside {
			transform: translateY(11%);
		}
	}
}