[class^="icon-"]:before,
[class*=" icon-"]:before {
	display: inline-block;
	margin-right: .4em;
	vertical-align: baseline;
}
.icon--big:before {
	font-size: 22px;
}
.icon--great:before {
	font-size: 35px;
}
.icon-unikum-logo {
	color: #f00;
}