.button {
	background: layout-value(buttons, background);
	border: layout-value(buttons, border);
	border-radius: layout-value(buttons, border-radius);
	color: layout-value(buttons, color);
	cursor: pointer;
	display: inline-block;
	font-family: layout-value(buttons, font-family);
	font-size: layout-value(buttons, font-size);
	font-style: layout-value(buttons, font-style);
	font-weight: layout-value(buttons, font-weight);
	height: auto;
	line-height: layout-value(buttons, height);
	padding: layout-value(buttons, padding);
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: layout-value(buttons, text-transform);
	transition: color .3s, background .3s;;
	white-space: nowrap;

	&:hover {
		background: layout-value(buttons, hover, background);
		color: layout-value(buttons, hover, color);
	}
	&[disabled] {
		background-color: color(silver) !important;
		cursor: wait;
		cursor: not-allowed;
	}
	&.field-error {
		background-color: color(red) !important;
	}

	@include breakpoint(phablet) {
		font-size: layout-value(buttons, font-size);
	}
}

a.btn,
a.btn:hover {
	text-decoration: none;
}