.footer {
	.heading {
		color: color(tawny-port);
		font-style: italic;
	}

	.col-lg-6:nth-of-type(2n) {
		border-top: 1px solid color(silver);
		padding-top: $padding--default;
	}

	@include breakpoint(tablet) {
		.col-lg-6[class] {
			padding-right: 65px;
			width: auto;

			&:nth-of-type(2n) {
				border-left: 1px solid color(silver);
				border-top: none;
				padding: 0 0 0 50px;
			}
		}
	}
}