.wrapper {
	@include clearfix;
	clear: both;
	display: block;
	margin: layout-value(wrapper, margin);
	position: relative;

	@include breakpoint(tablet) {
		margin: layout-value(wrapper, margin);
	}
	@include breakpoint(desktop-lg) {
		margin: layout-value(wrapper, margin);
	}
}