@mixin absolute-center() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin absolute-middle() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin child-middle($pixel-perfect: false) {
	@if($pixel-perfect == true) {
		font-size: 0;
	}
	white-space: nowrap;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	& > * {
		@if($pixel-perfect == true) {
			font-size: layout-value(font-size);
		}
		display: inline-block;
		max-width: 100%;
		vertical-align: middle;
		white-space: normal;
	}
}